.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.heading
{
  margin-top: 90px;
  justify-content: center;
  align-content: center;
  font-size: 40px;
  text-decoration: underline 3px;
  text-decoration-color: skyblue 

}

.card{
  margin-top: 3rem;
  max-width: 200px;
  max-height: 100px;
  border-radius: 5px;
  color: white;
}

.tours{
  margin-top: 5rem;
  max-width: 750px;
}
.single-tour {
  background: #ffffff;
  border-radius: 5px;
  width: 100%;
  margin: 2rem 0;
  box-shadow: inset;
  transition: all;
}
.single-tour:hover {
  box-shadow: var(--dark-shadow);
}
.single-tour img {
  height: 20rem;
  width: 100%;
  object-fit: cover;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}

.name
{
  color: black;
  font-weight: 600;
  margin-left: 30px;
}

.price
{
  color: var(--clr-primary-5);
  background: #CDE9FE;
  border-radius:5px;
  width: 70px;
  height: 20px;
  text-align: center;
  margin-left: 150px;
}


.infoo{
width: 550px;
color: grey;
margin: 1rem 3rem
}

.tour_button{
  background-color: transparent;
  color: red;
  border-color: red;
  border-radius: 5px;
  width: 200px;
  height: 30px;
  margin: 2rem 230px;
}

.refresh{
  background-color: rgb(80, 202, 202);
  color:"black";
  width:140px;
  height: 40px;
  margin-top: 400px;
  border-radius: 5px;
}